html,
body {
  /*dark mode*/
  --background-dark: #1d2125;
  --primary-dark: #f4f4f5;
  --secondary-dark: #e5a531;
  --caption-dark: #818387;
  --decoA-dark: #e5a531;
  --decoB-dark: rgb(241, 77, 12);
  /*light mode*/
  --background-light: var(--primary-dark);
  --primary-light: #151530;
  --secondary-light: #395c91;
  --caption-light: #818387;
  --decoA-light: rgb(85, 174, 233);
  --decoB-light: rgb(133, 139, 187);
  /*developer assist*/
  --border: 1px solid magenta;

  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Raleway', Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif, 'Major Mono Display';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*App*/
.container {
  padding: 0 2rem;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.dark {
  background-color: var(--background-dark);
  color: var(--primary-dark);
}
.light {
  background-color: var(--background-light);
  color: var(--primary-light);
}

.header {
  /*border: var(--border);*/
  display: flex;
  flex-direction: row;
  min-height: 3rem;
  position: relative;
  align-items: center;
  justify-content: right;
  width: 100%;
  padding: 5px;
}
.main {
  /*border: var(--border);*/
  position: relative;
  min-height: 80vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.container.dark .main {
  box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.5);
}

.container.light .main {
  box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.05);
}

.footer {
  /*border: var(--border);*/
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid var(--caption);
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  width: 100%;
  min-height: 50px;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

/*bigSwitch base */
.container .bigSwitch {
  --switchW: 320px;
  --switchH: 200px;
  --leverGap: 40px;
  --leverSize: calc(var(--switchH) + var(--leverGap));
  color: var(--primary-dark);
  border-radius: 1000px;
  cursor: pointer;
  position: relative;
  width: var(--switchW);
  height: var(--switchH);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset -3px -3px 6px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  z-index: 1;
}
@media (max-width: 768px) {
  .container .bigSwitch {
    --switchW: 200px;
    --switchH: 100px;
    --leverGap: 40px;
  }
}

.container .bigSwitch:hover {
  box-shadow: inset 0px 0px 6px 12px rgba(0, 0, 0, 0.2),
    0 0 3px 3px rgba(255, 255, 255, 0.1);
}

/*BS Lever 🏒*/
.container .bigSwitch .lever {
  border-radius: 1000px;
  width: var(--leverSize);
  height: var(--leverSize);
  position: absolute;
  transition: all 0.4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*🌒 dark mode*/
.container.dark .bigSwitch .lever {
  background-color: black;
  left: calc(-1 * var(--leverGap));
}
/*🌞 light mode*/
.container.light .bigSwitch .lever {
  background-color: var(--secondary-light);
  left: calc(var(--switchW) - var(--switchH));
}

.container .bigSwitch .lever::after {
  content: '';
  --border-width: 16px;
  position: absolute;
  border-radius: 1000px;
  width: calc(var(--leverSize) + var(--border-width));
  height: calc(var(--leverSize) + var(--border-width));
  z-index: -1;
  animation: 5s leverRotate linear infinite;
}

.container.dark .bigSwitch .lever::after {
  background-image: linear-gradient(to right, var(--decoA-dark), var(--decoB-dark));
}
.container.light .bigSwitch .lever::after {
  background-image: linear-gradient(to right, var(--decoA-light), var(--decoB-light));
}

@keyframes leverRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* BS Card 🥸 */

.container .bigSwitch .card {
  --x-deform: 1;
  --y-deform: 0.55;
  --displacement: 80%; /*card asimetric displacement*/
  width: calc(var(--leverSize) * var(--x-deform));
  height: calc(var(--leverSize) * var(--y-deform));
  position: absolute;
  display: flex;
  padding: 0.5rem;
  border-radius: 5px;
  align-items: center;
  align-self: center;
  transition: all 0.4s ease-in-out;
}

.container.dark .bigSwitch .card {
  background-color: black;
  transform: translateX(calc(1 * var(--displacement)));
  text-align: right;
  justify-content: right;
}

.container.light .bigSwitch .card {
  background-color: var(--secondary-light);
  transform: translateX(calc(-1 * var(--displacement)));
  text-align: left;
  justify-content: left;
}

/*Left Section*/
.skillCard {
  border: var(--border);
  display: flex;
  position: absolute;
  left: 0;
  transition: all 0.1 ease-in-out;
  min-width: 200px;
  min-height: auto;
  margin: 2rem;
  padding: 2px;
  border-radius: 2px;
}

.dark .skillCard {
  border-color: red;
}

.light .skillCard {
  border-color: blue;
}

@media (max-width: 768px) {
  .skillCard {
    position: relative;
    left: 0;
    top: 50px;
  }
}
