html,
body {
  /*dark mode*/
  --background-dark: #1d2125;
  --primary-dark: #f4f4f5;
  --secondary-dark: #e5a531;
  --caption-dark: #818387;
  --decoA-dark: #e5a531;
  --decoB-dark: rgb(241, 77, 12);
  /*light mode*/
  --background-light: var(--primary-dark);
  --primary-light: #151530;
  --secondary-light: #395c91;
  --caption-light: #818387;
  --decoA-light: rgb(85, 174, 233);
  --decoB-light: rgb(133, 139, 187);
  /*developer assist*/
  --border: 1px solid magenta;

  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Raleway', Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif, 'Major Mono Display';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
