.container {
  padding: 0 2rem;
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.header {
  /*border: var(--border);*/
  display: flex;
  flex-direction: row;
  min-height: 3rem;
  position: relative;
  align-items: center;
  justify-content: right;
  width: 100%;
  padding: 5px;
}

.main {
  /*border: var(--border);*/
  min-height: 80vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.footer {
  /*border: var(--border);*/
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid var(--caption);
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  width: 100%;
  min-height: 50px;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

/*bigSwitch*/
.bigSwitch {
  --switchW: 340px;
  --switchH: 240px;
  --leverGap: 40px;
  --leverSize: calc(var(--switchH) + var(--leverGap));
  border-radius: 1000px;
  position: relative;
  width: var(--switchW);
  height: var(--switchH);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset -3px -3px 6px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}
.bigSwitch:hover {
  box-shadow: inset 0px 0px 6px 12px rgba(0, 0, 0, 0.2),
    0 0 12px 12px rgba(255, 255, 255, 0.1);
}

.bigSwitch .lever {
  border-radius: 1000px;
  background-color: black;
  width: var(--leverSize);
  height: var(--leverSize);
  position: absolute;
  left: calc(-1 * var(--leverGap));
  transition: all 0.4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}
.bigSwitch:hover .lever {
  left: calc(var(--switchW) - var(--switchH));
}

.bigSwitch .card {
  background-color: black;
  position: absolute;
  display: flex;
  right: calc(-1 * var(--switchW) / 2.5);
  width: calc(var(--leverSize) * 0.8);
  height: calc(var(--leverSize) * 0.5);
}
