.container {
  padding: 0 2rem;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.dark {
  background-color: var(--background-dark);
  color: var(--primary-dark);
}
.light {
  background-color: var(--background-light);
  color: var(--primary-light);
}

.header {
  /*border: var(--border);*/
  display: flex;
  flex-direction: row;
  min-height: 3rem;
  position: relative;
  align-items: center;
  justify-content: right;
  width: 100%;
  padding: 5px;
}
.main {
  /*border: var(--border);*/
  min-height: 80vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.container.dark .main {
  box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.5);
}

.container.light .main {
  box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.05);
}

.footer {
  /*border: var(--border);*/
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid var(--caption);
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  width: 100%;
  min-height: 50px;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

/*bigSwitch*/
.container .bigSwitch {
  --switchW: 300px;
  --switchH: 200px;
  --leverGap: 40px;
  --leverSize: calc(var(--switchH) + var(--leverGap));
  border-radius: 1000px;
  position: relative;
  width: var(--switchW);
  height: var(--switchH);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset -3px -3px 6px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.container .bigSwitch:hover {
  box-shadow: inset 0px 0px 6px 12px rgba(0, 0, 0, 0.2),
    0 0 3px 3px rgba(255, 255, 255, 0.1);
}

.container .bigSwitch .lever {
  border-radius: 1000px;
  width: var(--leverSize);
  height: var(--leverSize);
  position: absolute;
  transition: all 0.4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}
/*🌒 dark mode*/
.container.dark .bigSwitch .lever {
  background-color: black;
  left: calc(-1 * var(--leverGap));
}
/*🌞 light mode*/
.container.light .bigSwitch .lever {
  background-color: var(--secondary-light);
  left: calc(var(--switchW) - var(--switchH));
}

.container .bigSwitch .lever::after {
  --wide: 10px;
  border: var(--border);
  border-radius: 1000px;
  background-color: white;
  width: calc(var(--leverSize) + var(--wide));
  height: calc(var(--leverSize) + var(--wide));
}

.container .bigSwitch .card {
  position: absolute;
  display: flex;
  align-self: center;
  width: calc(var(--leverSize) * 0.9);
  height: calc(var(--leverSize) * 0.5);
  transition: all 0.5 ease-in-out;
}

.container.dark .bigSwitch .card {
  background-color: black;
  transform: translateX(90%);
}

.container.light .bigSwitch .card {
  background-color: var(--secondary-light);
  transform: translateX(-90%);
}
