.panel {
  border: var(--border);
  position: absolute;
  right: 0;
  margin: 2rem;
  min-width: 200px;
  align-items: right;
  text-align: right;
}

@media (max-width: 800px) {
  .panel {
    position: relative;
  }
}
