.skillCard {
  border: var(--border);
  display: -ms-flexbox;
  position: absolute;
  left: 0;
  transition: all 0.1 ease-in-out;
  min-width: 200px;
  min-height: auto;
  margin: 2rem;
  padding: 2px;
  border-radius: 2px;
}

.dark .skillCard {
  border-color: yellow;
}

.light .skillCard {
  border-radius: 5px;
}

@media (max-width: 768px) {
  .skillCard {
    position: relative;
    left: 0;
    top: 50px;
  }
}
